body{
    font-family: 'Montserrat', sans-serif;
    background-color:  #E5E5E5;
}
/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}

/* main content styles */

.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}